<h5>
    <body>
    <script type="text/javascript">
        (function () {
            var blinks = document.getElementsByTagName('blink');
            var visibility = 'hidden';
            window.setInterval(function () {
                for (var i = blinks.length - 1; i >= 0; i--) {
                    blinks[i].style.visibility = visibility;
                }
                visibility = 'hidden';
            }, 5000);
        })();
    </script>
    {{#if message}}
        <blink class="alert alert-info alert-dismissible fade show" role="alert">{{message}} </blink>
    {{/if}}
    {{#if resultNotEmpty}}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Номер заказа</th>
                <th>Дата заказа</th>
                <th>Цена заказа</th><th></th>
                <th>Статус заказа</th>
                <th></th><th></th>
            </tr>
            </thead>
            {{#each rows}}
                <tbody>
                <tr>
                    <form action="/update_order" method="post">
                        <input type="text" name="id" hidden value="{{id}}">
                        <td>{{id}}</td>
                        <td>{{date}}</td>
                        <td>{{price}} руб.</td>
                        <td><input type="text" name="email" value="{{email}}" hidden></td>
                        <td><input type="text" name="username" value="{{username}}" hidden></td>
                        <td><input type="text" name="user_id" value="{{user_id}}" hidden></td>
                        <td>
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1 " name="order_status">
                                    <option value="{{status}}">{{status}}</option>
                                    <option value="created">Создан</option>
                                    <option value="send">Отправлен</option>
                                    <option value="delivered">Доставлен</option>
                                    <option value="canceled">Отменён</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary btn-sm btn-success">Изменить статус</button>
                        </td>
                    </form>
                    <td>
                    <form action="/orders/{{id}}">
                            <button type="submit" class="btn btn-primary btn-sm btn-dark">Перейти к заказу</button>
                    </form>
                    </td>
                </tr>
                </tbody>
            {{/each}}
        </table>
    {{else}}
        <p>Страница заказов пуста</p>
    {{/if}}
    </body>
</h5>
