<h5>
    <body>
    {{#if resultNotEmpty}}
        <table class="table table-hover">
            <thead>
            <tr>Название категории</tr>
            <p></p>
            </thead>
            <tbody>
            {{#each rows}}
                <tr>
                    <td><a href="/catalog/{{id}}">{{name}}</td>
                    <td><a href="/catalog/{{id}}"><img src="/{{image_url}}" class="rounded" alt="Cinque Terre"></a></td>

                </tr>
            {{/each}}
            </tbody>
        </table>
    {{else}}
        <p>Нет данных</p>
    {{/if}}
    </body>
</h5>
<br>