<h5><body>
{{#if resultNotEmpty}}
    <table class="highlight">
        <td>Название категории</td> <td> </td>
        {{#each rows}}
            <tr>
                <td><a href="/catalog/{{id}}">{{name}}</td><td><a href="/catalog/{{id}}"><img src="{{image_url}}"></a></td>

            </tr>
        {{/each}}
    </table>
{{else}}
    <p>Нет данных</p>
{{/if}}
</body></h5>
<br>