<h5><body>
{{#if resultNotEmpty}}
    <table width="100%" border="1">
        <td>Название товара</td> <td>Описание</td> <td>Цена</td> <td> </td>
        {{#each rows}}
            <tr>
                <td>{{name}}</td><td>{{description}}</td><td>{{price}}</td><td><img src="{{image_url}}"></td>
            </tr>
        {{/each}}
    </table>
{{else}}
    <p>Нет данных</p>
{{/if}}
</body></h5>
<br>