<h5><body>
{{#if resultNotEmpty}}
    <table width="100%" border="1">
        <td>Название товара</td><td> </td><td>Описание</td> <td>Цена</td> <td> </td>
        {{#each rows}}
            <tr>
                <td>{{name}}</td><td>{{description}}</td><td>{{price}}</td><td><img src="{{image_url}}"></td>
                {{#if ../userId}}
                <td><form action="/book_good" method="post">
                    <input  name="goodId" value="{{goodid}}" hidden/>
                    <input  name="userId" value="{{../userId}}"  hidden/>
                    <div>
                        {{#if in_stock }}
                        <input type="submit" value="В корзину"/>
                        {{else}}
                        <input type="submit" value="Нет в наличие" disabled/>
                        {{/if}}
                    </div>
                </form></td>
                {{/if}}
            </tr>
        {{/each}}
    </table>
{{else}}
    <p>Нет данных</p>
{{/if}}
</body></h5>
<br>
