<h5>
    <script type="text/javascript">
        (function () {
            var blinks = document.getElementsByTagName('blink');
            var visibility = 'hidden';
            window.setInterval(function () {
                for (var i = blinks.length - 1; i >= 0; i--) {
                    blinks[i].style.visibility = visibility;
                }
                visibility = 'hidden';
            }, 5000);
        })();
    </script>
    <body>
    {{#if message}}
        <blink class="alert alert-info alert-dismissible fade show" role="alert">{{message}} </blink>
    {{/if}}

    {{#if adminId}}
        <div class="form-group">
        <h3>{{good.name}}</h3>
        </div>

        <img src="/{{good.image_url}}" class="rounded" alt="Cinque Terre">
        <h6>
            <div class="form-group">
                <form action="/user_update_description" method="post">
                    <div class="form-group">

                        <input type="text" name="id" value="{{good.id}}" hidden>
                        <input type="text" name="description" class="form-control" value="{{good.description}}">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm btn-dark">Сохранить изменения</button>
                </form>
            </div>
        </h6>
        <h6>
            <form action="/user_update_full" method="post">
                <label for="exampleFormControlTextarea1">
                    <input type="text" name="id" value="{{good.id}}" hidden>
                </label>
                <div class="form-group">

                    <textarea type="text" name="full" class="form-control"  >{{good.full}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-sm btn-dark">Сохранить изменения</button>
            </form>
        </h6>


            <h4>
                <form action="/good_update_price" method="post">

                    <input type="text" name="id" value="{{good.id}}" hidden>
                    <div class="form-group">
                    <input type="text" name="price" value="{{good.price}}">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm btn-dark">Сохранить изменения</button>
                </form>
            </h4>

        <hr>

        <h4><label for="exampleFormControlTextarea1">Товаров в наличие: {{good.in_stock}} шт.</label></h4>
    {{else}}
        <h3>{{good.name}}</h3>

        <hr>
        <img src="/{{good.image_url}}">

        <hr>
        <h6><label for="exampleFormControlTextarea1">Описание товара: </label>
            {{good.description}}</h6>

        <hr>
        <h6><label for="exampleFormControlTextarea1">Полное описание товара: </label>
            {{good.full}}</h6>

        <hr>
        <h6><label for="exampleFormControlTextarea1">Цена товара: </label>
            {{good.price}} руб.</h6>
        <hr>
    {{/if}}


    {{#if userId}}
        {{> form_add_good }}
    {{/if}}


    </body>
</h5>
<br>