<h5>
    <body>
    <script type="text/javascript">
        (function () {
            var blinks = document.getElementsByTagName('blink');
            var visibility = 'hidden';
            window.setInterval(function () {
                for (var i = blinks.length - 1; i >= 0; i--) {
                    blinks[i].style.visibility = visibility;
                }
                visibility = 'hidden';
            }, 5000);
        })();
    </script>
    <blink>{{message}} </blink>

    <table class="table table-hover">
    {{#if resultNotEmpty}}

            <thead>
            <th>Наименование товара</th>
            <th> Стоимость товара</th>
            <th>Действия с заказом</th>

            </thead>
        {{#each rows}}

                <tr>
                    <th>{{good_name}}</th>
                    <th>{{good_price}} руб.</th>
                </tr>
        {{/each}}
            <tbody>

            <form action="/order" method="post">
            <td>Адрес доставки: <input required type="text" name="address" value="{{address}}"/></td>
            <td> Общая сумма заказа: {{total}}</td>
            <td><button type="submit" class="btn btn-primary btn-sm btn-dark">Оформить заказ</button></td>
            <input type="text" name="user_id" value="{{userId}}" hidden/>
            <input type="text" name="email" value="{{user.email}}" hidden/>
            <input type="text" name="name" value="{{user.user_name}}" hidden/>
            <input type="number" name="price" value="{{total}}" руб. hidden/>
            </form>

            </tbody>
        </table>

    {{else}}
        <p>Вы еще не добавили в свою корнзину ни одного товара!</p>
    {{/if}}
    </body>
</h5>
<br>
