<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<font size="5">
    <p>Уважаемый {{user_name}},</p>
    <p>Ваш заказ на сумму {{total_price}} руб. поступил в обработку.</p>
    <p>Вы можете отслеживать его статус  <a href="{{hostname}}/users/{{user_id}}">в вашем личном кабинете</a></p><br>

    <p>С уважаением, команда Техностор!</p>

</font>
<a href="{{hostname}}"><img src="https://sun9-64.userapi.com/KkQCnA-6L5kBDCh8fvS3d9bAN9RjsKyrGavTuw/xZtRCep1En0.jpg" ></a>


<font size="3"><p>Это письмо создано автоматически, можете не отвечать на него.</p></font>
</body>
</html>