<h5><body>
{{#if resultNotEmpty}}
    <table width="100%" border="1">
        <td>Имя</td> <td>Фамилия</td> <td>Номер телефона</td> <td>Адресс</td> <td>Цена заказа</td>
        {{#each rows}}
            <tr>
        <td>{{name}}</td><td>{{lastname}}</td><td>{{phone}}</td><td>{{adress}}</td><td>{{price}} руб.</td>
            </tr>
        {{/each}}
    </table>
{{else}}
    <p>Нет данных</p>
{{/if}}
</body></h5>
<br>
