<body>
<script type="text/javascript">
            (function () {
                var blinks = document.getElementsByTagName('blink');
                var visibility = 'hidden';
                window.setInterval(function () {
                    for (var i = blinks.length - 1; i >= 0; i--) {
                        blinks[i].style.visibility = visibility;
                    }
                    visibility = 'hidden';
                }, 2000);
            })();
</script>
{{#if message}}
    <blink class="alert alert-info alert-dismissible fade show" role="alert">{{message}} </blink>
{{/if}}
<h3><p align="center">Привествуем вас в нашем интернет магазине!</p>
<p align="center">Только самое и горячеее железо для вашей печки у нас!</p></h3>
<hr>
<div class=" text-center">
    <h4>5 Самых продаваемых товаров!</h4>
    <hr>

</div>
<h5>
{{#if userId}}
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Изображение</th>
            <th></th>
            <th>Название товара</th>
            <th>Описание</th>
            <th>Цена</th>
            <th></th>

        </tr>
        </thead>
    {{#if resultNotEmpty}}
        {{#each all_results}}
                <tbody class="tbody-dark">
                {{#each rows}}
                    <tr>
                        <td><a href="/goods/{{good_id}}"><img src="/{{image_url}}" width="125" class="rounded" alt="Cinque Terre"></a><td>
                        <td><a href="/goods/{{good_id}}">{{name}}</td>
                        <td>{{description}}</td>
                        <td>{{price}} руб.</td>
                        <td>
                            <form action="/book_good" method="post">

                                {{#if is_available}}
                                    <button type="submit" class="btn btn-primary btn-sm btn-dark">В корзину</button>
                                {{else}}
                                    <button type="submit" class="btn btn-primary btn-sm btn-dark" disabled>Нет в
                                        наличии
                                    </button>
                                {{/if}}
                                <input name="goodId" value="{{good_id}}" hidden/>
                                <input name="name" value="{{name}}" hidden/>
                                <input name="userId" value="{{../userId}}" hidden/>
                            </form>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
        {{/each}}
        </table>
            <br>
    {{else}}
            <p>Нет данных</p>
    {{/if}}</h5>
{{else}}
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Изображение</th>
            <th></th>
            <th>Название товара</th>
            <th>Описание</th>
            <th>Цена</th>
            <th></th>
            <th></th>

        </tr>
        </thead>
    {{#if resultNotEmpty}}
        {{#each all_results}}
                <tbody class="tbody-dark">
                {{#each rows}}
                    <tr>
                        <td><a href="/goods/{{good_id}}"><img src="/{{image_url}}" width="125" class="rounded" alt="Cinque Terre"></a><td>
                        <td><a href="/goods/{{good_id}}">{{name}}</td>
                        <td>{{description}}</td>
                        <td>{{price}} руб.</td>
                        <td>
                        <td>
                            <p>Для покупки авторизуйтесь</p>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
        {{/each}}
        </table>
        <br>
    {{else}}
        <p>Нет данных</p>
    {{/if}}</h5>
{{/if}}
</body>

