
<h5><body>
<script type="text/javascript">
    (function() {
        var blinks = document.getElementsByTagName('blink');
        var visibility = 'hidden';
        window.setInterval(function() {
            for (var i = blinks.length - 1; i >= 0; i--) {
                blinks[i].style.visibility = visibility;
            }
            visibility =  'hidden' ;
        }, 2000);
    })();
</script>
<blink>{{message}} </blink>

{{#if resultNotEmpty}}
    <table class="highlight" >
        <td>Название товара</td><td>Описание</td> <td>Цена</td> <td> </td>
        {{#each rows}}
            <tr>
                <td><a href="/catalog/{{id}}">{{name}}</td><td>{{description}}</td><td>{{price}} руб.</td><td><a href="/catalog/{{id}}"><img src="/{{image_url}}" width="125"></a></td>
                {{#if ../userId}}
                {{/if}}
            </tr>
        {{/each}}
    </table>
{{else}}
    <p>Нет данных</p>
{{/if}}
</body></h5>
<br>
