<body>
<h3><p align="center">Самые продаваемые товары</p></h3>
<h5>
{{#if resultNotEmpty}}

        {{#each all_results}}
            {{name}}
            <table class="highlight" >
                <tr>
                    <th>Название товара</th>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th></th>
                </tr>
            {{#each rows}}


                <tr><td>{{name}}</td><td>{{description}}</td><td>{{price}}</td><td><a><img src="/{{image_url}}" width="125"></a></td></tr>

            {{/each}}
            </table>
        {{/each}}

{{else}}
    <p>Нет данных</p>
{{/if}}</h5>
</body>
<br>
