<body>

<div class=" text-center">
    <h3>Самые продаваемые товары</h3>
    <p></p>
</div>
<h5>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Название товара</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Изображение</th>
    </tr>
    </thead>
    {{#if resultNotEmpty}}
        {{#each all_results}}

            <tbody>
            {{#each rows}}

                <tr>
                    <td><a href="/goods/{{good_id}}">{{name}}</td>
                    <td>{{description}}</td>
                    <td>{{price}} руб.</td>
                    <td><a href="/goods/{{good_id}}"><img src="/{{image_url}}" width="125"></a></td>
                </tr>
            {{/each}}
            </tbody>

        {{/each}}
    </table>
    {{else}}
        <p>Нет данных</p>
    {{/if}}</h5>
</body>

