<h5>
    <body>

    {{#if resultNotEmpty}}
        <table class="table table-hover">
        <thead>
        <tr>
            <th>Название товара</th>

            <th>Цена</th>
        </tr>
        {{#each rows}}
            <tr>
                <th><a href="/goods/{{good_id}}">{{good_name}}<img src="/{{image}}" width="10%"></a></th>

                <th>{{price}} руб.</th>
            </tr>
        {{/each}}

    {{else}}
        <p>Нет данных</p>
    {{/if}}
    </thead>
        <tbody>
        <tr>
            <th>Общая сумма заказа :</th>
            <th>{{price}} руб.</th>
        </tr>
        </tbody>


    </table>
    </body>
</h5>
<br>