<h5><body>
{{#if resultNotEmpty}}
    <table width="100%" border="1">
        <td>Почтовый ящик</td> <td>Имя</td> <td>Фамилия</td><td>Номер телефона</td>
        {{#each rows}}
            <tr>
                <td>{{email}}</td> <td>{{username}}</td> <td>{{last_name}}</td><td>{{phone_num}}</td>
            </tr>
        {{/each}}
    </table>
{{else}}
    <p>Нет данных</p>
{{/if}}
</body></h5>
<br>