<h5><body>
{{#if resultNotEmpty}}
    <table width="100%" border="1">
        <td>Почтовый ящик</td> <td>Имя</td> <td>Фамилия</td><td>Номер телефона</td><td>Дата регистрации</td>
        {{#each rows}}
            <tr>
                <td><a href="/users/{{id}}">{{email}}</td><td><a href="/users/{{id}}">{{username}}</td> <td><a href="/users/{{id}}">{{last_name}}</td><td><a href="/users/{{id}}">{{phone_num}}</td><td>{{date}}</td>
            </tr>
        {{/each}}
    </table>
{{else}}
    <p>Нет данных</p>
{{/if}}
</body></h5>
<br>